<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manage Store</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <h1>jhdflkjhdjkfh</h1>
  <a href="/storebook?id={{store.id}}"><button>Add Book f rom Inventory</button></a><br>
  {% for item in book %}
    
  <strong>{{item.Book.Title}}</strong>
  <span>{{item.count}}</span>
  <form method="POST" action="/managestore">
    {% csrf_token %}
    <input type="number" value="{{item.id}}" name="id" hidden>
    <input type="submit" value="Delete">
  </form>

{% empty %}
<h1>Sorry, Looks like you don't have any added any books to your store.</h1>
{% endfor %}
</body>
</html>