
 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <title>Add Book</title>
</head>
<body style="background-image: url(https://wallpapercave.com/wp/khv9YHz.jpg)
; background-size: cover;background-repeat: no-repeat;">
  <div class="container  z-depth-3">
  {% if err %}
         
        <div style='float:right;'>{{ err }} </div>
          
     {% endif %}
  <div class="input-field  container z-depth-1 white-text">
    <form id="searchform" class="container">
      <i class="material-icons prefix">search</i>
      <input id="search" type="text" class="white-text" placeholder="Search for Books" required>
      <input type="submit" value="Search" class="btn brown">
    </form>
  </div>
  <div id="result" class="row " style="height:500px;overflow:auto;">
    
  </div>
</div>

  
</body>
<script>
  var startIndex = 0;
  
  $(document).ready(function (){
    
    function myfunc(){
      $('#result').html('');
      var query = $("#search").val();
      var title = "";
      var author = "";
      var img = "";
      var form = "";
      var publish = "";
      $.get("https://www.googleapis.com/books/v1/volumes?q=" + query + "&maxResults=5&startIndex="+startIndex, function(response) {
        for (var i = 0; i < 5; i++){
          title=response.items[i].volumeInfo.title ; 
          publish = response.items[i].volumeInfo.publishedDate;
          if (response.items[i].volumeInfo.authors != undefined){
            author = response.items[i].volumeInfo.authors;
          }
          else{
            author = "Not Available";
          }
          if (response.items[i].volumeInfo.imageLinks != undefined){
            img = response.items[i].volumeInfo.imageLinks.smallThumbnail ;
          }
          else{
            img = "https://image.flaticon.com/icons/png/128/2748/2748558.png";
          }
          form = $('<form method="post" class="col s6 m3" action="add" class="addBook">{%csrf_token%}<input type="text" value = "' +
            response.items[i].volumeInfo.title+'"name="title" hidden><input type="text" value ="'+
            response.items[i].selfLink +'"name="link" hidden><label class="white-text" style="font-size:20px;">Number of Copies :</label><input class="white-text" type="number" name="number"  class="number" value=0 min=1><br><input type="submit" value="Add Book"></form></div></div>')

          var card = $('<div class="row"><div class="col s8 m8"><div class="card horizontal"><div class="card-image waves-effect waves-block waves-light"> <img src="'+ 
            img +'" style="min-width:200px;" > </div> <div class="card-content"><span class="card-title orange-text" >'+
              title +'</span><span class="brown-text">Author:'+ 
                 author+' </span><br><p class="brown-text">Published:'+
                  publish+'</p><a href="'+
                   response.items[i].volumeInfo.previewLink +'">Preview</a></div>  </div></div>');
          form.appendTo(card);
          card.appendTo('#result');
        }
        $('<button class="btn" style =  "float:left;" id="previous" > <i class="material-icons large"> navigate_before</i>  </button>').appendTo('#result');
        $('<button class="btn" style =  "float:right;font-size:30px" id="next" ><i class="material-icons large">navigate_next</i> </button>').appendTo('#result');
      

        $("#next").click(function(){
          startIndex += 5;
          myfunc();
    })
    $("#previous").click(function(){
          startIndex -= 5;
          if (startIndex<=0){startIndex = 0;}
          myfunc();
    })
      })
      
    }
    $("#searchform").submit(function() {
      event.preventDefault();
      myfunc();
    })
  })
</script>
</html>
