<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hello {{user}}</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	
	<div class="container" >
		<center class="cyan darken-2 "> 
			<h5 class="centre-align">You can access your stores here, {{user}}.</h5>
			<div class="right-align " style="margin-right: 50px;">
				<a style="margin-bottom: 10px;" class="btn #0277bd light-blue darken-3 modal-trigger waves-effect waves-light" href="#modal1"  onclick="clicked({{val.id}}, '{{val.Book.Title}}', {{val.count}})">
					<i class="tiny material-icons">bookmark</i> <span>Add</span></a>
	
			</div></center>
			<table class=" striped teal">
				<tr>
					<th>Store Name</th>
					
					<th>Manage</th>
				</tr>
	{% for name in store %}
	<tr>
		<td>{{name.Title}}</td>
		<td><a class="btn #0277bd light-blue darken-3 modal-trigger waves-effect waves-light"
			 href="/managestore?id={{name.id}}" >
			<i class="tiny material-icons">bookmark</i> <span>Manage</span></a></td>

	</tr>
		
{% empty %}
    <h5>Sorry, Looks like you don't have any stores registered.Don't worry you can add some.</h5>
{% endfor %}

</div>

<!-- <button style="float:right;" onclick="clicked()">Add Store</button> -->
<div id="modal1" class="modal">
	<div class="container">
	<form action="/addStore"  method="POST">
		{% csrf_token %}
	<h5>Want to register a store?</h5>
	<label style="font-size: 25px;">Store Name:</label>
	<input type="text" name="title">
	<button class="btn waves-effect waves-light left-align" type="submit" name="action">Add
		<i class="material-icons right">add</i></button><br>
	<small>*Store will be registered in your name {{user}}</small>
	</form>
</div>
</div>

	
</body>
<script>
	
	$(document).ready(function(){
    $('.modal').modal();
  });
  $(document).ready(function(){
    $('.tooltipped').tooltip();
  });
</script>
</html>