<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <title>List of Books</title>
</head>
<body>

  <div class="container ">
  
  <center class="cyan darken-2 "> <h5 class="centre-align">Welcome  to the Inventory Management, {{user}}.</h5>
    <a class="btn" href="/logout">Logout</a>
    <div class="right-align " style="margin-right: 50px;">
     
      <a href="/add" class="btn btn-floating btn-large red tooltipped"  data-position="right" data-tooltip="Add New Book" >

      <i class="large material-icons">add</i></a>

    </div>
  <br></center>
  
  <table class=" striped teal">
    <tr>
      <th>Title</th>
      <th>Num of Copies</th>
      <th>Edit/Delete</th>
    </tr>
  {% for val in books %}
    <tr>
      <td>{{val.Book.Title}}</td>
      <td>{{val.count}}</td>
      
      <td><a class="btn #0277bd light-blue darken-3 modal-trigger waves-effect waves-light" href="#modal1"  onclick="clicked({{val.id}}, '{{val.Book.Title}}', {{val.count}})">
        <i class="tiny material-icons">bookmark</i> <span>Edit/Delete</span></a></td>
  
    </tr>
    
  {% endfor %}
</table>

<div id="modal1" class="modal">
  <div id="modal-content">
    <div class="container">
<h5>Edit</h5>

<h6><strong>Title:</strong><span id="titlename"></span></h6>

<div ><form  method="POST" action="/editInventory">
  {% csrf_token %}
<input type="text" value="" name="id" id="id" hidden >
<label style="font-size: 25px;">Quantity:</label><input type="number" value="" 
id="quantity" name="quantity"><br><br>
<button class="btn waves-effect waves-light left-align" type="submit" name="action">Edit
  <i class="material-icons right">edit</i>
</button>
</form></div><br>
<div ><form  method="POST" action="/deleteBook">
  {% csrf_token %}
<input type="text" value="" name="id" id="iddelete" hidden>
<button class="btn waves-effect waves-light right-align red" type="submit" name="action">Delete
  <i class="material-icons right">delete</i>
</button>
</form>
</div>
</div>

  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat" style="display:block">Close</a> </div>
</div>
</div>


</body>
<script>
  function clicked(id, title, count){
    console.log("here");
    
    document.getElementById("titlename").innerHTML = title;
    document.getElementById("quantity").value = count;
    document.getElementById("id").value = id;
    document.getElementById("iddelete").value = id;
  }
  $(document).ready(function(){
    $('.modal').modal();
  });
  $(document).ready(function(){
    $('.tooltipped').tooltip();
  });
</script>
</html>