<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Manage Store</title>
</head>
<body>
  <div class="container ">
  
    <center class="cyan darken-2 "> <h5 class="centre-align">Add/Edit Books</h5>
     
      <div class="right-align " style="margin-right: 50px;">
        <a class="btn" href="/logout">Logout</a>
        <a href="/storebook?id={{store.id}}" class="btn btn-floating btn-large red tooltipped"  data-position="right" data-tooltip="Add New Book" >
  
        <i class="large material-icons">add</i></a>
  
      </div>
    <br></center>
    <table class=" striped teal">
      <tr>
        <th>Book Title</th>
        <th>Num of Copies</th>
        <th>Delete</th>
      </tr>
  {% for item in book %}
    <tr>
  <td>{{item.Book.Title}}</td>
  <td>{{item.count}}</td>
  <td><form method="POST" action="/managestore">
    {% csrf_token %}
    <input type="number" value="{{item.id}}" name="id" hidden>
    <button class="btn waves-effect waves-light red left-align" type="submit" name="action">Delete
      <i class="material-icons right">delete</i>
    </button>
   
  </form></td>
</tr>
{% empty %}
Sorry, Looks like you don't have any added any books to your store.

{% endfor %}
</body>
</html>