<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Books</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="container">
  <div class="input-field  container z-depth-1 white-text">
    <div class="right-align"><a class="btn right-align" href="/logout">Logout</a></div>
    <form id="searchform" class="container">
      <i class="material-icons prefix">search</i>
      <input id="myInput" onkeyup="myFunction()" type="text"  class="black-text" placeholder="Search for Books" required>
      
    </form>
  </div>

  
    <table id="myTable" class=" striped teal">
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Count</th>
        <th>Add</th>
      </tr>
    
  

  {% for item in inven %}
  {% if item.count == 0%}
  <tr>
  <td><strong class="title">{{item.Book.Title}}</strong></td>
  <td>{{item.Book.Authors}}</td>
  <td><span>Out of Stock</span></td>
  <td><button class="btn disabled" ><i class="material-icons">add</i></button><br></td>
</tr>
  {% else %}
  <tr>
  <td><strong>{{item.Book.Title}}</strong></td>
  <td>{{item.Book.Authors}}</td>
  <td><span>{{item.count}}</span></td>
  <td><a class="btn #0277bd light-blue darken-3 modal-trigger waves-effect waves-light" onclick="clicked( '{{item.id}}', '{{item.Book.Title}}', {{item.count}} )"
     href="#modal1"  onclick="clicked({{item.id}}, '{{item.Book.Title}}', {{item.count}})">
    <i class="tiny material-icons">add</i> <span>Add</span></a></td>
</tr>
  {% endif %}
  
{% endfor %}
</table>
<div id="modal1" class="modal">
  <div class="container">
<h5>Title: <span id="title"></span></h5>
<form method="POST" action="/storebook">
  {% csrf_token %}
  <input type="text" id="id" name="id" hidden>
  <input type="text" name="storeid" value="{{id}}" hidden>
  <label style="font-size: 25px;">Number of Books to add:</label>
  <input type="number" id="count" min="1" name="count">
  
  <button class="btn waves-effect waves-light center-align" type="submit" name="action">Add
		<i class="material-icons right">add</i></button>
</form>
</div>
</div>
</div>
</body>
<script>
  function clicked( id, title, count){
    console.log(id, title)

    document.getElementById('title').innerHTML = title;
    
    document.getElementById('id').value = id;
    document.getElementById('count').max = count;
  }

  
  function myFunction() {
    console.log("here")
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    var td1 = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent + td1.textContent || td.innerText + td1.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
$(document).ready(function(){
    $('.modal').modal();
  });
  $(document).ready(function(){
    $('.tooltipped').tooltip();
  });
</script>
</html>